.auth-card {
  width: 380px;
  padding: 12px 20px;
  margin: 0;
  box-shadow: none;
}

.auth-title {
  margin-bottom: 16px;
  text-align: center;
}

.auth-full-width {
  width: 100%;
  margin-bottom: 16px;
}

.auth-switch-link {
  margin-top: 16px;
  text-align: center;
}
